/* GENERAL STYLES */
* {
    font-family: 'rubik', sans-serif;
    text-decoration: none;
}

body {
    margin: 0;
}

header {
    background: bisque;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    box-shadow: 0 0 20px black ;
}

h2, p {
    text-align: center;
}

.text {
    margin: 40px;
    width: 50%;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* SPECIFIC STYLES */
/* HEADER */
.homeButton {
    float: left;
}

.homeButton_text {
    display: inline-block;
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
    padding: 5px;   
}

.homeButton_text:visited {
    color: black;
}

.mediaLinks_list {
    list-style-type: none;
    margin-left: auto;
}

.mediaLinks_listItem {
    display: inline-block;
    margin: 5px;
    text-align: right;
}

/* SECTION-1 [INTRODUCTION] */
.introduction__photo-frame {
    height: 350px;
    width: 300px;
    margin: 40px;
    box-shadow: 0 0 10px 0 black, 0 0 10px 0 black;
}

.introduction__photo {
    height: 350px;
    width: 300px;
    object-fit: cover;
}

.introduction__text {
    margin: 20px;
}

.programmingLanguages {
    display: block;
}

.programmingLanguages__gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.programmingLanguages__logo {
    object-fit: contain;
    margin: 30px;
    max-width: 5%;
}


