/* GENERAL STYLES */
* {
    font-family: 'rubik', sans-serif;
    text-decoration: none;
    color: white;
}

body, html {
    margin: 0;
}

nav {
    background: #16171D;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 0 20px black ;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
}


h2, p, a {
    text-align: center;
    justify-content: center;
}

.text {
    background: #16171db6;
    max-width: 40%;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 50vw;
    margin: 40px 25vw;
}

.picture {
    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.picture-frame {
    /* height: 350px;
    width: 300px; */
    border-radius: 20px;
    margin: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}


/* SPECIFIC STYLES */
/* HEADER */
.homeButton {
    margin-left: 5%;
}

.homeButton_logo {
    margin-right: 5px;
    height: 50px;
    object-fit: cover;
}

.homeButton_link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
    padding: 5px;   
}

.mediaLinks {
    margin-left: auto;
    margin-right: 5%;
}
.mediaLinks_list {
    list-style-type: none;
    
}

.mediaLinks_listItem {
    display: inline-block;
    margin: 5px;
    height: auto;
    transition: 200ms;
}

.mediaLinks_listItem:hover {
    transform: scale(1.2);
}

.mediaLinks_link {
    padding: 10px;
    transition: 200ms;
    border-radius: 10px;
}

.mediaLinks_link:hover {
    background: #282a35;
}

/* SECTION-1 [INTRODUCTION] */
.introduction {
    background-image: url('img/background_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
    width: 100%;
    margin: 40px 0vw;
    flex-direction: column;
}

.introduction_picFrame {
    height: 350px;
    width: 300px;
}

/* MAIN CONTENT */
.contentSection {
    background: rgb(163,6,42);
    background: linear-gradient(0deg, rgba(163,6,42,1) 0%, rgba(41,34,142,1) 64%, rgba(10,10,10,1) 100%);height: auto;
}

/* SECTION-2 ABOUTME */
.aboutMe {
    flex-direction: row-reverse;
}

.aboutMe_text {
    min-width: 0%;
}

/* SECTION-3 [PROGRAMMING LANGUAGES] */
.programmingLanguages {
    display: flex;
    align-content: center;
    height: auto;
    background-color: #16171D;
    border-radius: 20px;
}

.programmingLanguages_title {
    width: 100vw;
    margin: 40px;
}

.programmingLanguages_gallery {
    width: 80vw;
    margin: 20px;
}

.programmingLanguages_logo {
    object-fit: contain;
    margin: 30px;
    padding: 20px;
    width: 10%;
}

/* SECTION-4 [COURSES] */


.course_link{
    display: flex;
    flex-direction: column;
    max-width: 15%;
    padding: 20px;
    margin: 10px;
    filter: grayscale(100%);
    border-radius: 20px;
    transition: 200ms;
}

.course_link:hover {
    filter: grayscale(0%);
    background-color: rgba(255, 255, 255, 0.308);
    transform: scale(1.1);
}


.course_linkName {
    margin-top: 20px;
    text-align: center;
    font-size: larger;
}

/* SECTION-5 [CONTACTME] */
.contactMe {
    background-color: #16171D;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fa-envelope {
    display: inline-block;
    height: 50px;
    width: 50px;
}

/* SECTION-LAST [FOOTER] */
footer {
    display: flex;
    background-color: #16171D;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #030303;
}

::-webkit-scrollbar-thumb {
    
    border: 2px solid transparent;
    border-radius: 10px;
    background: rgb(88, 88, 88);
    background-clip: content-box;
  }

::-webkit-scrollbar-thumb:hover {
    background: #555;
}